[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "prometheus-fastapi-instrumentator"
version = "5.10.0"
description = "Instrument your FastAPI with Prometheus metrics."
authors = ["Tim Schwenke <tim@trallnag.com>"]
license = "ISC"
readme = "README.md"
repository = "https://github.com/trallnag/prometheus-fastapi-instrumentator"
keywords = ["prometheus", "instrumentation", "fastapi", "exporter", "metrics"]

[tool.poetry.dependencies]
python = ">= 3.7.0, < 4.0.0"
fastapi = ">= 0.38.1, < 1.0.0"
prometheus-client = ">= 0.8.0, < 1.0.0"

[tool.poetry.group.dev.dependencies]
httpx = "^0.23.1"
black = "^22.12.0"
flake8 = "^5.0.4"
requests = "^2.28.1"
pytest = "^7.2.0"
pytest-cov = "^3.0.0"
rope = "^1.6.0"
isort = "^5.11.3"
mypy = "^0.971"
devtools = "^0.9.0"
pre-commit = "^2.20.0"
asgiref = "^3.5.2"
uvicorn = "^0.20.0"

[tool.black]
line-length = 90

[tool.isort]
profile = "black"

[tool.mypy]
allow_redefinition = true
ignore_missing_imports = true

[tool.pytest.ini_options]
norecursedirs = "tests/helpers"
markers = ["slow: mark test as slow."]
