[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "prometheus-fastapi-exporter"
version = "1.0.2"
description = "Exporter for your FastAPI"
authors = ["Tim Schwenke <tim.schwenke@bayer.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/trallnag/prometheus-fastapi-exporter"
keywords = ["prometheus", "instrumentation", "fastapi", "monitoring", "metrics"]
classifiers = [
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'Topic :: System :: Monitoring',
    'Topic :: System :: Logging',
]

[tool.poetry.dependencies]
python = "^3.6"
fastapi = ">=0.38.1, <=1.0.0"
prometheus-client = "^0.8.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
flake8 = "^3.8"
black = "^19.10b0"
requests = "^2.24.0"
pytest-cov = "^2.10.0"

[tool.black]
line-length = 90
