dataclasses==0.8; python_version >= "3.6" and python_version < "3.7" and python_full_version >= "3.6.1"
fastapi==0.65.1; python_version >= "3.6"
prometheus-client==0.10.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
starlette==0.14.2; python_version >= "3.6"
typing-extensions==3.10.0.0; python_full_version >= "3.6.1" and python_version >= "3.6"
