---

name: commit
on: push
jobs:
  commit:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.6, 3.9]

    steps:

    # ==========================================================================

    - uses: actions/checkout@v2

    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - uses: Gr1N/setup-poetry@v4

    - name: Use cache
      uses: actions/cache@v1
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
        restore-keys: ${{ runner.os }}-poetry-

    - run: poetry --version
    - run: poetry install

    # ==========================================================================

    - run: bash run.sh test

    - uses: codecov/codecov-action@v1
      if: matrix.python-version == 3.9
      with:
        file: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false

    # ==========================================================================

    - run: bash run.sh lint
      if: matrix.python-version == 3.9

    - run: bash run.sh requirements
      if: matrix.python-version == 3.9

    - run: bash run.sh format
      if: matrix.python-version == 3.9

    - run: bash run.sh docs
      if: matrix.python-version == 3.9

    # ==========================================================================

    - uses: EndBug/add-and-commit@v5
      if: matrix.python-version == 3.9
      with:
        message: 'ci: Apply automatic changes [skip ci]'
        signoff: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # ==========================================================================
