name: primary

on:
  workflow_dispatch:
  push:
    branches: [trunk, master, main]

jobs:
  primary:
    runs-on: ubuntu-latest

    steps:

      # ------------------------------------------------------------------------

      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # ------------------------------------------------------------------------
      # Poetry

      - name: Setup Poetry
        uses: Gr1N/setup-poetry@v7

      - name: Cache Poetry
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-

      - run: poetry --version
      - run: poetry install

      # ------------------------------------------------------------------------
      # Pre-Commit

      - name: Setup pre-commit
        run: |
          pip install pre-commit
          pre-commit install

      - name: Cache pre-commit
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files --verbose --show-diff-on-failure

      # ------------------------------------------------------------------------
      # Tests

      - run: ./scripts/test.sh

      - uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          flags: unittests
          fail_ci_if_error: true

      # ------------------------------------------------------------------------
      # Semantic Release

      - name: Prepare for npm
        run: cp node/package* .

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: npm

      - name: Install node packages
        run: npm install --no-progress --prefer-offline

      - name: Perform semantic-release
        id: semantic_release
        run: npx --no-install semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          PYPI_REPOSITORY: https://upload.pypi.org/legacy/

      # ------------------------------------------------------------------------
