name: secondary

on:
  workflow_dispatch:
  pull_request:
  push:
    branches-ignore: [trunk, master, main]

jobs:
  secondary:
    runs-on: ubuntu-latest

    steps:

      # ------------------------------------------------------------------------

      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      # ------------------------------------------------------------------------
      # Poetry

      - name: Setup Poetry
        uses: Gr1N/setup-poetry@v7

      - name: Cache Poetry
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-

      - run: poetry --version
      - run: poetry install

      # ------------------------------------------------------------------------
      # Pre-Commit

      - name: Setup pre-commit
        run: |
          pip install pre-commit
          pre-commit install

      - name: Cache pre-commit
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files --verbose --show-diff-on-failure

      # ------------------------------------------------------------------------
      # Tests

      - run: ./scripts/test.sh

      - uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
          flags: unittests
          fail_ci_if_error: true

      # ------------------------------------------------------------------------
